<html>
  <head>
    <meta charset="UTF-8">
    <title>Survey Squirrel</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <link rel="stylesheet" type="text/css" href="newstyles.css">
  </head>
  <body>
    <div id="app">
      <div id="header-box">
        <h1 id="survey squirrel">Survey Squirrel</h1>
      </div>
      <div id="content-box">
        <div id="survey-box">
          <div id="survey-title">
            <h2 v-if="!submitted">Welcome to Survey Squirrel. Let's build a survey!</h2>
            <h2 v-else-if="!finished">Review Survey</h2>
            <h2 v-if="finished">Your survey has been created!</h2>
            <button v-if="finished" @click="triggerReset()">Start Another Survey</button>
            </div>
          </div>
          <!-- question box start -->
          <div id="question-box" v-if="!finished">
            <div id="question-title">
              <h4>{{!currQuestion ? "What's your question?" : "Question 1"}}</h4>
            </div>
            <div class="input-box" v-if="!currQuestion">
                <input type="text" name="question" value="Type question here." v-model="ques">
                <button @click="addQuestion(ques)">Save Question</button>
            </div>
            <div class="input-box" v-else-if="!submitted">
                <input type="text" name="question" :value="currQuestion" readonly>
            </div>
            <div class="input-box" v-if="submitted">
              <select>
                  <option value="subQ">{{currQuestion}}</option>
                  <option v-for="subA in currAnswers" value="subA">{{subA}}</option>
              </select>
            </div>
          </div>
          <!-- question box end -->
          <!-- answer box start -->
          <div id="answer-box" v-if="currQuestion && !submitted">
            <section id="answer-box-content">
              <div id="answer-content">
                <div id="answer-title">
                  <h4>Answers</h4>
                </div>
                <div class="input-answer">
                  <input type="text" name="answer" value="Type answer here" v-model="ans">
                  <button @click="addAnswer(ans)">Add Another Answer</button>
                </div>
                <div class="input-answer" v-for="item in currAnswers">
                  <input type="text" name="answer" :value="item" readonly>
                </div>
              </div>
            </section>
          </div>
           <!-- answer box end -->
          <!-- footer button-->
          <footer>
            <div id="bottom-submission">
              <button class="grey" v-if="!finished">Add Question</button>
              <button class="blue" v-if="!submitted && currAnswers.length <= 1" @click="triggerReset()">Done</button>
              <button class="blue" v-if="!submitted && currAnswers.length > 1" @click="triggerSubmit()">Preview</button>
              <button class="blue" v-if="submitted && !finished" @click="triggerFinish()">Submit</button>
            </div>
          </footer>
          <!-- footer button-->
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
  </body>
</html>