@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDpCEYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVj2ZhZI2eCN5jzbjEETS9weq8-19e7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVg2ZhZI2eCN5jzbjEETS9weq8-19eDtCYYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZKCM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngOUXZYTXPIvIBgJJSb6u-u5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxICB.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6tfK.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w4CB.ttf) format('truetype');
}
* {
  margin: 0;
  font-family: Roboto;
  font-weight: 200;
}
#app {
  width: 1440px;
  margin: auto;
}
#header-box {
  background-color: #007480;
  border: 1px solid #979797;
  height: 99px;
}
#header-box h1 {
  margin-top: 13px;
  color: #FFFFFF;
  font-size: 52px;
  letter-spacing: -1.06px;
  text-align: center;
}
#survey-box {
  margin: auto;
  margin-top: 139px;
  border: 1px solid #979797;
  width: 1007px;
  height: 137px;
}
#survey-title {
  margin: auto;
}
#survey-title h2 {
  font-size: 42px;
  text-align: center;
  margin-top: 38px;
  font-weight: 300;
  letter-spacing: -0.85px;
  line-height: 62px;
  color: #3F3F3F;
}
#survey-title button {
  background-color: #009BAB;
  border: 1px solid #007480;
  font-weight: 200px;
  border-radius: 2px;
  width: 249px;
  height: 40px;
  margin: 70 380px 0 380px;
}
#question-box {
  width: 914px;
  height: 100%;
  margin: auto;
}
#question-title {
  margin-top: 31px;
  margin-left: 4px;
  color: #808080;
  font-size: 22px;
  letter-spacing: -0.57px;
  line-height: 62px;
  text-align: left;
}
#question-title h4 {
  font-weight: 400;
}
.input-box {
  height: 62px;
  width: 103%;
  margin-top: -13px;
}
.input-box input {
  width: 758px;
  height: 62px;
}
.input-box button {
  margin: 17px 17px 17px 22px;
  width: 125px;
  height: 40px;
  color: #3F3F3F;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  background-color: #F2F2F2;
  border: 1px solid #808080;
  border-radius: 2px;
}
input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #979797;
  border-radius: 5px;
}
#answer-box {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 533px;
  left: 503px;
}
#answer-title {
  color: #808080;
  font-family: Roboto;
  font-size: 22px;
  letter-spacing: -0.57px;
  line-height: 62px;
  text-align: left;
}
#answer-title h4 {
  font-weight: 400;
}
.input-answer input {
  width: 353px;
  height: 60px;
  margin: -5 0 28 -3;
}
.input-answer button {
  margin-left: 23px;
  background-color: #F2F2F2;
  border: 1px solid #808080;
  border-radius: 2px;
  width: 142px;
  height: 40px;
  color: #3F3F3F;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  width: 142.33px;
  text-align: center;
}
footer {
  position: absolute;
  top: 827px;
  left: 1130px;
}
#bottom-submission button {
  border: 1px solid #9B9B9B;
  border-radius: 2px;
  width: 125px;
  height: 40px;
}
.grey {
  background-color: #F2F2F2;
  color: #3F3F3F;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}
.blue {
  background-color: #009BAB;
  border: 1px solid #007480;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}
input[type=text] {
  padding-left: 12px;
  color: #3F3F3F;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.57px;
  line-height: 62px;
  text-align: left;
}
select {
  width: 758px;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  color: #3F3F3F;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.57px;
  line-height: 62px;
  text-align: left;
}
button:focus {
  outline: 0;
}
#survey-box.isEnlarged {
  height: 267px;
}
